candidates/**/*.jpg filter=lfs diff=lfs merge=lfs -text
candidates/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
candidates/**/*.png filter=lfs diff=lfs merge=lfs -text
candidates/**/*.webp filter=lfs diff=lfs merge=lfs -text
